* {
    font-size:30px;
    color:blue;
}
.content{
    width:1000px;
}

.oben{
    background-color: red;
    justify-content: space-between;
    display: flex;
    
}
.container{
    margin:20px;
}
.logo img{
   
    width: 100px;
}
.logo{
    background-color: rgb(207, 26, 26);
    display: flex;
   
}
.nav{
    display: flex;
    background-color: rgb(141, 12, 12);
   
    justify-content: space-around;
    margin-right: 0px;;
}
.na{
    
    margin:20px;   
}
.hintergrund{
    height:400px;
    background-color: rgb(165, 161, 161);
    background-image: url('./picture/orf.jpg');
    background-size: cover;
    }
.na1{
    width: 191px;
}
.right{
    background-color: rgb(165, 161, 161);
    width: 600px;
    height: 900px;
}
.orf{
    display: flex;
}
.text{
    background-color: white;
    position: relative;
    top:-50px;
    width:500px;
    padding:30px;
    
}

.article{
    display: flex;
    justify-content: center;
}