
.fix{
    height:80px;
    width:80px;
    background-color: chartreuse;
    position: fixed;
    right:0px;
    bottom:0px;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.left{
    width:200px;
    height:100px;
    background-color: orange;
    position: relative;
}

.right{
    width:200px;
    height:100px;
    background-color: orange;
    position: relative;
}

.container1{
    height:30px;
    width:30px;
    background-color: paleturquoise;
    position: absolute;
    right:0px;
    top:0px;
}

.container2{
    height:30px;
    width:30px;
    background-color: paleturquoise;
    position: absolute;
    right:0px;
    top:0px;
}

.middle{
    display: flex;
    height:100px;
    
    background-color: skyblue;
    margin-left:15px;
    margin-right: 15px;
    align-items: center;
    justify-content: space-around;  
}

.container{
    height: 40px;
    width:50px;
    background-color: purple;
}